Package: com.michael.resolutionautosetter
Version: 0.1.2
Section: Tweaks
Name: Resolution Auto Setter
Author: halo_michael <yc992147156@me.com>
Sponsor: halo_michael <yc992147156@me.com>
Maintainer: halo_michael <yc992147156@me.com>
Depends: com.michael.resolutionsetter (>= 0.4.1), firmware (>= 11.0), mobilesubstrate, sed, sudo
Architecture: iphoneos-arm
Description: Auto set your resolution when jailbreaking!
 Auto set your resolution when jailbreaking!
 Use Resolutio Setter once, and Resolution Auto Setter will work when jailbreaking.
